@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1 class="text-lg">Contact Page</h1>
@section Header{
    @await Html.PartialAsync("_Header")
}
<p>Use this page to detail your site's privacy policy.</p>
