@model Kurs

<main class="p-6">
    <div class="row">
        <div class="col-8">
            <form asp-controller="Kurs" asp-action="Edit" method="post">
                <input type="hidden" type="_method" value="put" />
                <div class="mb-3">
                    <label asp-for="Baslik" class="form-label">Kurs Ad</label>
                    <input asp-for="Baslik" class="form-control">
                </div>
                <div>
                    <button type="submit" class="btn btn-sm btn-primary">Ekle</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <h4>Öğrenciler</h4>
            <hr>
            <ul>
                @foreach(var item in @Model.KursKayitlari){
                    <li>@item.Ogrenci.AdSoyad</li>
                }
            </ul>
        </div>
    </div>

</main>