@{
    Layout = "_LayoutHome";
}
<h1 class="h4">
    Meeting App Home Page!
</h1>
<p class="">Toplantı katılım durumunuzu bildiriniz!</p>
    <a asp-controller="Meeting" asp-action="Apply" class="btn btn-sm btn-primary text-white">
        Başvuru Yap
    </a>